.form {
  padding: 25px;
  margin: 0;
}

.form__input {
  height: 25px;
  width: 150px;
  padding: 4px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-right: 15px;
}

.form__input:focus {
  border: 2px solid yellowgreen;
  outline: none;
}

.form__btn {
  font-size: 12px;
  height: 25px;
  box-sizing: border-box;
  width: 60px;
  border-radius: 5px;
  border: none;
  background-color: rgba(154, 205, 50, .7);
}

.form__btn:hover {
  background-color: rgb(154, 205, 50);

}

.form__btn:first-of-type {
  margin-right: 15px;
}